
<div class="modal-backdrop modal-header modal-content" style="background-color: honeydew;">
<table  class="table table-striped table-bordered" >
    <thead>
    <th>Name</th>
    <th>Gender</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address</th>
    <th>Date of Birth</th>
    <th>Nationality</th>
    <th>Education Background</th>
    <th>Contact Way</th>
    </thead>
    
    <?php if($this->data){
        foreach($this->data as $person){
        ?>
    <tr>
        <td><?php echo $person->firstName.' '.$person->middleName.' '.$person->lastName; ?></td>
        <td><?php echo $person->gender;?></td>
        <td><?php echo $person->phoneNo;?></td>
        <td><?php echo $person->email;?></td>
        <td><?php echo $person->address;?></td>
        <td><?php echo $person->dob;?></td>
        <td><?php echo $person->nationality;?></td>
        <td><?php echo $person->education;?></td>
        <td><?php echo $person->contactWay;?></td>
    </tr>
    
    <?php }} ?>
</table>
    
    
    <div>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <?php
    if($this->limit){
    for($i=1;$i<=$this->limit;$i++){?>
    <li><a href="/person/get/cursor/<?php echo $i;?>"><?php echo $i;?></a></li>
    <?php }}?>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>
    
    </div>


