

<div class="modal-content" style="background-color: honeydew;">
    <div class="modal-header">
        <h1 class="text-center">Person</h1>
        <div class="modal-body">
            <?php
            echo $this->form;
            ?>
        </div>
        <div>
            <a href="/person/" class='btn btn-large btn-primary'>View Persons</a>
        </div>
    </div>
</div>

<?php $this->headScript()->captureStart(); ?>


$('#submit').click(function () {
if(!checkForValidity()){
return false;
}
notify('Success','Information Saved','info');
return true;
});

function formValidity(){
var firstName=$('#first_name').val()||0;
var middleName=$('#middle_name').val()||0;
var lastName=$('#last_name').val()||0;
var gender=$('input[name=gender]:checked').val()||0;
var dob=$('#dp1').val()||0;
var phone=$('#phone_no').val()||0;
var nationality=$('#nationality').val()||0;
var email=$('#email').val()||0;
var address=$('#address').val()||0;
var education=$('#education').val()||0;
var contactWay=$('input[name=contactWay]:checked').val()||0;
var date=$('#dp1').val()||0;

if(firstName==0||lastName==0||phone==0||nationality==0||email==0||address==0||education==0||dob==0||gender==0||contactWay==0){
        notify('Error','Some Form Value are not set','error');
        return false;
}

    if(!isValidDate(date)||!isValidEmail(email)||!isValidPhoneNumber(phone)){
        notify('Error','Some Form Value are not set','error');
        return false;
    }
return true;
}

function checkForValidity(){
if(formValidity()){
return true;
}
return false;
}


function notify(title,text,type){
    new PNotify({
    title:title,
    text:text,
    type:type
    });
}

function isValidEmail(e) {
   var pattern =/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
   return pattern.test(e);
}

function isValidPhoneNumber(e) {
    var phoneRe = /^[2-9]\d{2}[2-9]\d{2}\d{4}$/;
  var digits = e.replace(/\D/g, "");
  return (digits.match(phoneRe) !== null);
}

function isValidDate(dateString)
{
//console.log(dateString);
    var regex_date = /^\d{4}\-\d{1,2}\-\d{1,2}$/;
    if(!regex_date.test(dateString))
    {
        return false;
    }
    var parts   = dateString.split("-");
    var day     = parseInt(parts[2], 10);
    var month   = parseInt(parts[1], 10);
    var year    = parseInt(parts[0], 10);
    if(year < 1000 || year > 3000 || month == 0 || month > 12)
    {
        return false;
    }
    var monthLength = [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 ];
    if(year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
    {
        monthLength[1] = 29;
    }
    return day > 0 && day <= monthLength[month - 1];
}
<?php $this->headScript()->captureEnd(); ?>
