
<html>
   
    <?php $this->headTitle()->prepend('Person');
echo $this->headTitle(); ?>
<head>
<link href="/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/css/pnotify.custom.min.css" rel="stylesheet" media="screen">
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/js/pnotify.custom.min.js"></script> 
</head>

    <body>
    <?php echo $this->layout()->content; ?>
    </body>
    
    
    
<script src="/js/bootstrap.js"></script> 
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/jquery-1.11.3.min.js"></script> 
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script> 
<?php echo $this->headScript(); ?>
</html>